

/*reset everything*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blue-bg {
    background: linear-gradient(to right, rgb(1, 1, 119), rgb(105, 217, 254) );
}

.nav-toggle {
    display: none;
}

.nav-toggle-label{
    position: relative;
    top:0;
    left:0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
 }

 .nav-toggle-label span::before,
 .nav-toggle-label span::after{
    content: '' ;
    position: absolute;
 }

 .nav-toggle-label span::before{
    bottom: 7px;
 }

 .nav-toggle-label span::after{
     top: 7px;
 }

nav{
    z-index: 10;
    position: fixed;
    text-align: left;
    top: 0%;
    width: 100%;
    background: linear-gradient(to right, rgb(6, 6, 180), rgb(105, 217, 254) );
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}



nav ul{
    position: absolute;
    background: linear-gradient(to right, rgb(6, 6, 180), rgb(105, 217, 254) );
    width: 100%;
    list-style: none;
    bottom:1px;
    left:0;
    display:flex;
    flex-direction: column;
    clip-path: inset(0 0 100% 0);
    transform: translateY(100%);
    transition: clip-path 400ms ease-in;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
    width: fit-content;
}

nav li:first-child {
    margin-top: 1em;
}

nav a {
    color: white;
    width: fit-content;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}


nav a:hover{
    color: #000;
}


.nav-toggle:checked ~ nav ul {
    clip-path: inset(0);
}


.nav-toggle:checked ~ nav a{
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}


h1{
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    text-transform: uppercase;
    
}

@media screen and (min-width: 880px) {
    .nav-toggle-label{
        display: none;
    }
}

header {
    color:white;
    height: 60vh;
    position: relative;
    padding: 2rem;
    margin-bottom: 7rem;
}

.intro{
    margin-top: 10rem;
    text-align: center;
}

header img {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 100%;
    max-height: 65%;
    display: block;
    margin-left: auto;
}

header a{
    background-color: #858ea8;
    color: white;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: .4rem;
    cursor: pointer;
    display: inline-block;
    margin-top: 2rem;
}
body {
    color: black;
}


.par1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    margin-top: 1.2rem;
}


h2 {
    margin-bottom: 1em;
    text-align: center;
}

section {
    padding: 2rem;
}

.stop-growth {
    display: block;
    max-width: 130ch;
    margin-left: auto;
    margin-right: auto;
}

.two-cols {
    color: #f3eded;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
}

.two-cols img{
    height: 25rem;
    width: 25rem;
    object-fit: cover;
    display: block;
}

.didascalia {
    color: white;
    text-align: center;
}

.grid3x3 {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}

.team-sections {
    list-style: none;
}

.team-sections li {
    background-color: #ffffff80;
    border-radius: .4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-sections img {
    height: 6rem;
    width: 6rem;
    object-fit: cover;
    display: block;
}

.team-sections span {
    padding: .3rem;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}   

.sponsors {
    display: flex;
    padding: 2rem;
    flex-wrap: wrap;
}

.sponsors img {
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    display: block;
    align-items: center;
}

.container_img img {
    height: 20rem;
    width: 20rem;
    object-fit: cover;
    display: block;
    align-items: center;
}

.grid2 img {
    height: 30rem;
    width: 30rem;
    object-fit: cover;
    display: block;
}

.grid4 img{
    height: 20rem;
    width: 20rem;
    object-fit: cover;
    align-self: center;
    
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.grid4 {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.grid4 a {
    background-color: #bcbfc3;
    color: black;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: .4rem;
    cursor: pointer;
    display: inline-block;
    margin-top: 2rem;
    height: 2rem;
    width: 10rem;
    text-align: center;
    align-self: center;
}