

/*reset everything*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* background*/

.blue-bg {
    background: rgba(13, 21, 127);
    
}

/*buttons general style*/

.sottolineatura {
    text-decoration: none;
    --s: 0.15em;   /* the thickness of the line */
    --c: rgb(1, 1, 119); /* the color */
    
    color: #0000;
    padding-bottom: var(--s);
    background: 
      linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 0.5s;
}

.sottolineatura:hover{
    --_p: 100%
}

.stop-growth {
    display: block;
    max-width: 110ch;
    margin-left: auto;
    margin-right: auto;
}

.small-button {
    place-self: center;
    background-color: #bcbfc3;
    color: black;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: .4rem;
    cursor: pointer;
    display: inline-block;
}

/*navbar*/


.navigation-bar{
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    padding: 1rem;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 1.8em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after{
    content: '';
    position: absolute;
}


.nav-toggle-label span::before{
    bottom: 7px;
}

.nav-toggle-label span::after{
    top:7px
}


nav {
    margin-top: 1rem;
    position: absolute;
    text-align: left;
    top: 50%;
    width: 100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top:0;
    left:0;
    margin-left: 1.5em;
    
    height: 100%;
    display: flex;
    align-items: center;
}



nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;

}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-family:'Ethnocentric Rg', sans-serif;
    text-align: justify;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;

}
.voci {
    color: white;
}

.team-s55 {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 2.2rem;
    margin-top: 5rem;
    font-family:'Ethnocentric Rg', sans-serif;
    text-transform: uppercase;
}

.nav-toggle:checked ~ nav {
    transform: scale(1,1);
    background-color: rgba(256, 256, 256,0.2);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
    
}



/*adapt to larger screens*/
@media (min-width: 1100px) {
    .nav-toggle-label{
        display: none;
    }

    .navigation-bar{
        display: grid;
        grid-template-columns: 5fr auto minmax(800px,3fr) 1fr;
    }

    nav {
        all: unset;
        grid-column: 3/4 ;
        display: flex;
        justify-content: flex-end;
        align-items: center;

    }
    
    nav a {
        opacity: 1;
    }

    nav ul {
        display: flex;
        flex-direction: row;
       
    }

    nav li {
        margin-left:3em;
        margin-bottom: 0;
       
    }
}

/*back to top button*/
.back-to-top{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 1fr;
    cursor: pointer;
    outline: none;
    border: 3px solid  rgb(1, 1, 119);
    background-color: rgba(105, 217, 254, 0.5);
    border-radius: 50%;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.back-to-top img {
    object-fit: cover;
    display: block;
    height: 1.3rem;
    align-items: center;
    margin-left: unset;
}
/*introductory page styling*/

.intro{
    margin-top: 6rem;
    text-align: center;
}

header img {
    position: absolute;
    margin-top: 3.5rem;
    object-fit: cover;
    display: block;
    max-width: 100%;
    max-height: 65%;
    display: block;
    margin-left: auto;
    place-self: center;
    place-items: center;
    
}

header a{
    background-color: #858ea8;
    color: white;
    font: 1.1em sans-serif;
    padding: 10px 17px;
    text-decoration: none;
    border-radius: .4rem;
    cursor: pointer;
    display: inline-block;
    
}
body {
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.1rem;
    text-align: justify;
    line-height: 1.4rem;
}



.par1{
    background-image: 
    linear-gradient(rgba(13, 21, 127, 0.8), rgba(13, 21, 127, 0.8)), 
    url("./Home\ e\ Team/Sfondo.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color:white;
    height: 60vh;
    position: relative;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    column-gap: 4.5rem;
    height: 100vh;
    
}

.paragrafo p{
    padding-top: 0.5rem;
}
h2 {
    margin-bottom: 2rem;
    text-align: center;
    
}

.title {
    font-family:'Ethnocentric Rg', sans-serif;
    line-height: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

.intro p {
    font-family:'Ethnocentric Rg', sans-serif;
    font-size: 1.5rem;
}

.big-button{
    background-color: rgb(221, 220, 220);
    color:  rgba(13, 21, 127);
    font: 1.3em sans-serif;
    padding: 0.7rem;
    border-radius: .4rem;
    border-width: 0.35rem;
    cursor: pointer;
}

.cointaner-button {
    padding-bottom: 1.7rem;
    
}

.par1 p{
    margin-bottom: 2rem;
    font-size: 1.1rem;
}

section {
    padding: 2rem;
}

.unisciti-a-noi {
    background-color: white;
    color: 13, 21, 127;
    font: 1em sans-serif;
    padding: 0.8rem;
    font-size: 1.2rem;
    border-radius: .4rem;
    border-width: 0.35rem;
    padding-left: 2rem;
    padding-right: 2rem;
}


/*making it responsive*/
@media (min-width:30rem) and (max-width: 50rem){
    .intro{
        margin-top: 2.1rem;
    }
    .par1{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        height: 100vh;
    }

    .par1 img{
        position: relative;
        /* margin-left: unset; */
        margin-top: 2rem;
    }

    .title {
        font-weight: bold;
        font-size: 1.6rem;
    }
    .par1 a {
        padding: 0.7rem;
    }

    .logo{
        object-fit: cover;
        display: block;
        height: 19rem;
        align-items: center;
        margin-left: unset;
    }

    .paragrafo{
        padding-bottom: 2rem;
    }
    .cointaner-button {
        padding-bottom: 0.2rem;
    }

}

@media (max-width:30rem){
    .body {
        padding: 1rem;
    }
    .par1{
        padding-top: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        
    }

    .par1 img{
        position: relative;
        /* margin-left: unset; */
        margin-top: 0.5rem;
    }
    .intro {
        margin-top: 2.9rem;
    }

    .title {
        font-weight: bold;
        font-size: 1.6rem;
    }
    .par1 a {
        padding: 0.7rem;
    }

    .logo{
        object-fit: cover;
        display: block;
        height: 20rem;
        align-items: center;
        margin-left: unset;
        padding-top: 2.3rem;
    }
}

/*section team styling*/
.testo-didascalia{
    list-style-position: outside;
    padding-left: 2.5ch;
}
.arancio{
    color: rgb(243 144 75);
}

.yt-video {
    position: relative;
    height: 0;
    width: 100%;
    padding-top: 56.25%;
}
.yt-video > iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.container1 p {
    padding-top: 2rem;
}

.two-cols {
    color: #f3eded;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4.5rem;
}

.two-cols img{
    position: relative;
    width: 100%;
    object-fit: cover;
    display: block;
}

.didascalia {
    color: white;
    text-align: center;
    font-size: 1.25rem;
    letter-spacing: 0.08rem;
}

.hidden {
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    transform: scale(0);
}

.title-descipion-team{
    color: white;
    font-family:'Ethnocentric Rg', sans-serif;
    font-size: 1.8rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    line-height: 2rem;
}

.team-sections img {
    height: 4rem;
    width: 4rem;
    object-fit: cover;
    display: block;
}

.team-sections span {
    color: white;
    display: block;
    text-align: center;
    padding-top: 0.5rem;
    font-family:'Ethnocentric Rg', sans-serif;
    font-size: 0.8rem;
}   

.container1 {
    position: relative;
}
.sezioniii{
    display: none;
}

input:checked + div {
    display: block;
}


.container2 label {
    margin: 0;
}

.button-project{
    text-decoration: none;
}

.grid3x3 {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}
.team-sections span{
    color: rgba(13, 21, 127);
}
.team-sections {
    list-style: none;
}
.team-sections > li {
    background-color: rgb(221, 220, 220);
    border-radius: .8rem;
    
}
.team-sections > li > label,
.team-sections > li > a {
    cursor: pointer;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .3rem;
    border-radius: .4rem;
}

.progetti{
    margin-top: 3rem;
}
    

/*making it resposive*/
@media (min-width:30rem) and (max-width: 50rem){
    .two-cols{
        display: flex;
        flex-direction: column;
    }
    .progetti{
        margin-top: 4rem;
    }


        
}


@media (max-width:30rem) {
    .progetti{
        margin-top: 4rem;
    }
        
    
    .two-cols {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0.8rem;
    }

    .container1 p {
        padding-top: 1.7rem;
    }

    .container2 h2 {
        margin-top: 1.7rem;
    }

    .grid3x3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .title-descipion-team{
        font-size: 1.4rem;
    }
    
    
  
}

/* s55x */
.subtitle{
    font-family:'Ethnocentric Rg', sans-serif;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.cols-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 100%;
    gap: 2.8rem;
    height: 85vh;
}
.span-2 {
    grid-column: span 2;
}
.cols-4 a {
    place-self: center;
    background-color: #bcbfc3;
    color: black;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: .4rem;
    cursor: pointer;
    display: inline-block;
    margin-top: 2rem;
    height: 2rem;
    width: 10rem;
    text-align: center;
}
.wrap-img {
    width: 100%;
    padding-top: 56.25%;
    position: relative;
  
}
.wrap-img > img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.4rem;
}

.imm-did {
    display: flex;
    flex-direction: column;
}
.tratta {
    margin-top: 0.5rem;
    font-size: 1rem;
    
}

.transparent {
    color: white;
}


/*making it responsive*/

@media (max-width:50rem) {
    .cols-4{
        display: flex;
        flex-direction: column;
        margin: 0.8rem;
        height: unset;
    }
    
    .tratta{
        margin-top: 1rem;
        font-size: 1.3rem;
    }
}

/*sponsor section styling*/

.sponsors {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
    align-items: top;
}

.sponsors img {
    padding: 2rem;
    height: 12rem;
    width: 100%;
    max-height: 12rem;
    object-fit: contain;
    object-position: center;
    display: block;
    align-items: center;
    background-color: white;
    
}
.logo-polito{
    display: flex;
    justify-content: center;
    padding: 3.5rem;
    margin: 1rem;
}

.logo-polito img {
    object-position: center;
    object-fit: contain;
    height: auto;
    width: 100%;
    max-height: 20rem;
}

.sponsors a {
    display: block;
}

.sponsors img:hover {
    cursor: pointer;
}

.container-img img{
    background: rgba(13, 21, 127);
}


/*making it responsive*/
@media (min-width:35rem) and (max-width: 70rem){
    .sponsors{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin: 0.5rem;
     
    }

    .sponsors img{
        align-self: center;
        height: 8rem;
        width: 100%;
        max-height: 12rem;
        object-fit: contain;
        object-position: center;
    }
}

@media (max-width:35rem){
    .sponsors{
        display: flex;
        flex-wrap: wrap;
        margin: 1.2rem;

      
    }


    .sponsors img{
        align-self: center;
        align-self: center;
        height: 9rem;
        width: 100%;
        max-height: 9rem;
        object-fit: contain;
        object-position: center;
    }

    .logo-polito {
        padding: 2.8rem;
    }
}

/*eventi section styling*/
.two-coll-event {
    color: white;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 4rem;
    height: 70vh;
    max-width: 67rem;
    margin-top: 3rem;

}

.two-coll-event img {
    position: relative;
    width: 100%;
    object-fit: cover;
    display: block;
}

.events{
    background-color: #ffffff80;
    color: white;
    font: 1.3em sans-serif;
    padding: 0.7rem;
    border-radius: .4rem;
    border-width: 0.35rem;
    padding-right: 2rem;
   
}

.linea-bianca{
    margin-top: 0.35rem;
    margin-bottom: 0.35rem;
}

.details {
    font-size: 1.4rem;
    position: relative;
}


details > summary {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }


.summary-title {
    user-select: none;
    align-self: center;
    font-size: 1.7rem;
}

.summary-content {
    margin-top: 0.3rem;
    border-top: 0.5rem;
    cursor: default;
}
details line.vertical { transition: transform .25s ease; }
details[open] line.vertical { transform: rotate(90deg); }

.calendar{
    place-self: center;
}

.calendar img{
    margin-right: 0;
    height: 18rem;
    width: 18rem;
    object-fit: cover;
    display: block;
}


/*making it responsive*/
@media (max-width:40rem) {
    .form-title{
        text-align: center;
    }
    .two-coll-event{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: unset;
        max-width: 30rem;
        margin: 0.8rem;
       
    }
    .events{
        margin-bottom: 3rem;
        padding-right: 1rem;
      
    }

    .calendar {
        align-self: center;
        height: auto;
        width: auto;
    }
    .calendar img {
        height: 15rem;
        width: 15rem;
    }

} 


/*contatti section styling*/
.form-title {
    color: white;
    font-family:'Ethnocentric Rg', sans-serif;
    font-size: 2rem;
    margin-top: 1.5rem;
}

.contatti{
    color: white;
}

.double-col{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    margin-top: 3rem;
}

.image-div{
    float:right;
    margin-right:10px;
    max-width: 20%;
    max-height: 20%;
  }
  

.social-logo{
    height: 2.2rem;
    width: 2.2rem;
    object-fit: cover;
    display: block;
}

.social-logo:hover{
    cursor: pointer;
}

.four-rows{
    display: grid;
    grid-template-rows: repeat(4, auto) ;
    gap: 1rem;
    align-items: center;
}


.textbox {
    background-color: #ffffff80;
    border-radius: .4rem;
    align-items: center;
    padding: 10px 15px;
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.maps {
    display: none;
    max-width: 300px;
    max-height: 200px;
}

.recapiti {
    color: white;
    margin-top: 2rem;
}

.recapiti p {
    margin: 0.4rem;
}

/*making it responsive*/
@media (max-width:50rem) {
    .maps-grande{
        display: none;
    }
    .double-col {
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    .four-rows {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

.contacts{
    display: flex;
    flex-direction: column;
}

.maps {
        display: block;
        align-self: center;
    }
    
    .logo-container {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 2rem;
    }

    .social-logo{
        height: 3rem;
        width: 3rem;
        object-fit: cover;
        display: block;
    }

    .recapiti{
        display: flex;
        flex-direction: column;
    }

    .recapiti p {
        align-self: center;
    }

}

