/*reset everything*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
h1 {
    font-family:'Ethnocentric Rg', sans-serif;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.grid-galleria {
    display: none;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    align-items: center;
}

.grid-galleria img {
    display: flex;
    padding: 2rem;
    flex-wrap: wrap;
    height: auto;
    width: 22rem;
    object-fit: cover;
    display: block;
    align-items: center;
    background-color: white;
}

.grid-galleria img:hover {
    cursor: pointer;
}

.container-img {
    place-self: center;
}

/*carousel implementation*/
.stop-growth {
    display: block;
    max-width: 730px;
    margin-left: auto;
    margin-right: auto;
}
.carosello {
    position: fixed;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #333a;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.carosello.hidden {
    display: none;
}

.carousel_track_container{
    height: 80%;
    width: 80%;
    position: relative;
    overflow-x: hidden;
}

.carousel-track{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    align-items: center;
    width: 100%;
    height: 100%;
}
.carousel-track.smooth {
    transition: transform .2s ease;
}
.carousel-img {
    position: relative;
}
.carousel-img img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.carousel-slide{
    min-width: 100%;
    width: 100%;
    height: 100%;
    max-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    overflow-y: hidden;
}

.carousel-descruptio{
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    font-size: 1.1rem;
    text-align: center;
    line-height: 1.4rem;
    margin-top: 1.5rem;
    margin-bottom: 0.2rem;
    margin-left: 0.9rem;
    margin-right: 0.9rem;
    color: white;
}

.carousel_button{
    background: transparent;
    cursor: pointer;
    place-self: center;
    background-color: #bcbfc3;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: .4rem;
    display: inline-block;
}


.carousel_button img {
    width: 15px;
}


.carousel-indicator{
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(0, 0, 0,0.3);
    margin:0.5rem;
    cursor: pointer;
}



.exit {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background: transparent;
    cursor: pointer;
    place-self: center;
    height: 4rem;
}


/*making it responsive*/
@media (min-width:35rem) and (max-width: 70rem){
    .grid-galleria{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 0;
    }

    .grid-galleria img{
        align-self: center;
        width: 18rem;
        height: auto;
    }
}

@media (max-width:35rem){
    .carousel_track_container{
        max-height: 40%;
    }

    .grid-galleria{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }


    .grid-galleria img{
        align-items: center;
        width: 20rem;
        height: auto;
    }

    .carousel-descruptio{
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

}